Repository tinyls/tinyls, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, documentation, infrastructure, dependencies, tests, security, performance, breaking, bug, feature, refactor, upgrade, java, javascript, internal

update dangling references to personal account, set userfile generation in deployment
  .github/dependabot.yml
  .github/workflows/deploy-staging.yml
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  README.md
  SECURITY.md
  docs/deployment.md
  docs/development.md
  docs/ec2-dns-setup.md
  docs/environment-variables.md
  frontend/README.md
  release-notes.md
  scripts/bootstrap.sh
  scripts/build-push.sh
  scripts/generate-client.sh
  scripts/test.sh
  url-shortener/src/main/java/com/tinyls/urlshortener/config/OpenApiConfig.java
Labels: backend, frontend, documentation, infrastructure, breaking, java

set funding config and name update
  .github/FUNDING.yml
  README.md
Labels: backend, frontend, documentation, infrastructure

update deployment workflow badge
  README.md
Labels: backend, frontend, documentation, infrastructure

update deploy script to set correct file permissions
  scripts/deploy.sh
Labels: backend, frontend, infrastructure

move file permission settings to deploy workflow
  .github/workflows/deploy-staging.yml
  scripts/deploy.sh
Labels: backend, frontend, infrastructure

minor bugfix
  .github/workflows/deploy-staging.yml
Labels: backend, frontend, infrastructure

implement redis caching in backend
  .env.example
  .gitignore
  README.md
  docker-compose.override.yml
  docker-compose.staging.yml
  docker-compose.yml
  docs/development.md
  docs/environment-variables.md
  url-shortener/pom.xml
  url-shortener/src/main/java/com/tinyls/urlshortener/config/CacheConstants.java
  url-shortener/src/main/java/com/tinyls/urlshortener/config/RedisConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/CacheService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/CacheServiceImpl.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
  url-shortener/src/main/java/com/tinyls/urlshortener/util/Base62.java
  url-shortener/src/main/resources/application.properties
  url-shortener/src/test/java/com/tinyls/urlshortener/service/UrlServiceCacheTest.java
  url-shortener/src/test/java/com/tinyls/urlshortener/util/Base62Test.java
  url-shortener/src/test/resources/application-test.properties
Labels: backend, frontend, documentation, infrastructure, dependencies, tests, java

add social links for frontend during build
  .github/workflows/deploy-staging.yml
Labels: backend, frontend, infrastructure

put args explicitly in frontend dockerfile
  frontend/Dockerfile
Labels: backend, frontend, infrastructure

update urls cache when redirect is hit
  url-shortener/src/main/java/com/tinyls/urlshortener/repository/UrlRepository.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
Labels: backend, frontend, infrastructure, java

fix usersfile not getting picked up by traefik
  .github/workflows/deploy-staging.yml
Labels: backend, frontend, infrastructure

refine proxy layer routing and add local dev deploy config
  .gitignore
  docker-compose.dev.yml
  infra/traefik/config/dynamic.dev.yml
  infra/traefik/config/dynamic.staging.yml
  infra/traefik/config/static.dev.yml
Labels: backend, frontend, infrastructure

implement basic link status in backend
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/AuthController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/url/UrlDTO.java
  url-shortener/src/main/java/com/tinyls/urlshortener/mapper/UrlMapper.java
  url-shortener/src/main/java/com/tinyls/urlshortener/model/Url.java
  url-shortener/src/main/java/com/tinyls/urlshortener/model/UrlStatus.java
  url-shortener/src/main/java/com/tinyls/urlshortener/repository/UrlRepository.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/UrlService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
  url-shortener/src/main/resources/db/migration/V5__add_url_status_column.sql
Labels: backend, frontend, infrastructure, java

fix status update issues
  url-shortener/src/main/java/com/tinyls/urlshortener/config/CacheConstants.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/mapper/UrlMapper.java
  url-shortener/src/main/java/com/tinyls/urlshortener/repository/UrlRepository.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/UrlService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
  url-shortener/src/test/java/com/tinyls/urlshortener/UrlShortenerApplicationTests.java
  url-shortener/src/test/java/com/tinyls/urlshortener/service/UrlServiceCacheTest.java
Labels: backend, frontend, infrastructure, tests, java

fix cache inconsistencies
  url-shortener/src/main/java/com/tinyls/urlshortener/config/CacheConstants.java
  url-shortener/src/main/java/com/tinyls/urlshortener/config/RedisConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/url/UrlDTO.java
  url-shortener/src/main/java/com/tinyls/urlshortener/repository/UrlRepository.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
Labels: backend, frontend, infrastructure, java

implement custom shortcode in backend
  url-shortener/README-REDIS-CACHING.md
  url-shortener/src/main/java/com/tinyls/urlshortener/exception/GlobalExceptionHandler.java
  url-shortener/src/main/java/com/tinyls/urlshortener/exception/InvalidShortCodeException.java
  url-shortener/src/main/java/com/tinyls/urlshortener/exception/ShortCodeAlreadyExistsException.java
  url-shortener/src/main/java/com/tinyls/urlshortener/mapper/UrlMapper.java
  url-shortener/src/main/java/com/tinyls/urlshortener/model/Url.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
  url-shortener/src/main/java/com/tinyls/urlshortener/util/ShortCodeValidator.java
Labels: backend, frontend, documentation, infrastructure, java

update frontend api client
  frontend/src/api/client/url-controller/url-controller.ts
  frontend/src/api/schemas/index.ts
  frontend/src/api/schemas/statusUpdateRequest.ts
  frontend/src/api/schemas/statusUpdateRequestStatus.ts
  frontend/src/api/schemas/urlDTOStatus.ts
  frontend/src/components/url-shortener/URLHistory.tsx
  frontend/src/hooks/useUrlShortener.ts
  frontend/src/routes/index.tsx
  frontend/vite.config.js
Labels: backend, frontend, infrastructure, javascript

implement feature flags and tests
  docs/environment-variables.md
  url-shortener/README-FEATURE-FLAGS.md
  url-shortener/pom.xml
  url-shortener/src/main/java/com/tinyls/urlshortener/config/FeatureFlagConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/config/FeatureFlags.java
  url-shortener/src/main/java/com/tinyls/urlshortener/config/RedisConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/FeatureFlagController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/FeatureFlagService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/FeatureFlagServiceImpl.java
  url-shortener/src/main/resources/application.properties
  url-shortener/src/test/java/com/tinyls/urlshortener/controller/FeatureFlagControllerTest.java
  url-shortener/src/test/java/com/tinyls/urlshortener/service/FeatureFlagServiceTest.java
  url-shortener/src/test/resources/application-test.properties
Labels: backend, frontend, documentation, infrastructure, dependencies, tests, java

fix inconsistent exception handling
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/AuthController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UserController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/user/ProfileUpdateRequest.java
  url-shortener/src/main/java/com/tinyls/urlshortener/security/config/SecurityConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/security/jwt/JwtAuthenticationFilter.java
Labels: backend, frontend, infrastructure, security, java

add update url endpoint
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/url/UrlUpdateRequest.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/UrlService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
Labels: backend, frontend, infrastructure, java

implement title, description and timestamp columns
  url-shortener/pom.xml
  url-shortener/src/main/java/com/tinyls/urlshortener/config/UrlTitleExtractionConfig.java
  url-shortener/src/main/java/com/tinyls/urlshortener/controller/UrlController.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/url/UrlDTO.java
  url-shortener/src/main/java/com/tinyls/urlshortener/dto/url/UrlUpdateRequest.java
  url-shortener/src/main/java/com/tinyls/urlshortener/model/Url.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/UrlService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/UrlTitleExtractionService.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlServiceImpl.java
  url-shortener/src/main/java/com/tinyls/urlshortener/service/impl/UrlTitleExtractionServiceImpl.java
  url-shortener/src/main/resources/application.properties
  url-shortener/src/main/resources/db/migration/V6__add_url_metadata_fields.sql
  url-shortener/src/main/resources/db/migration/V7__improve_updated_at_trigger.sql
Labels: backend, frontend, infrastructure, dependencies, java

regenerate frontend API client with tag-based grouping
  docs/development.md
  frontend/package-lock.json
  frontend/src/api/client/authentication/authentication.ts
  frontend/src/api/client/feature-flags/feature-flags.ts
  frontend/src/api/client/urls/urls.ts
  frontend/src/api/client/users/users.ts
  frontend/src/api/schemas/checkFeatureFlag200.ts
  frontend/src/api/schemas/getAllFeatureFlags200.ts
  frontend/src/api/schemas/getCommonFeatureFlags200.ts
  frontend/src/api/schemas/index.ts
  frontend/src/api/schemas/urlUpdateRequest.ts
  frontend/src/api/schemas/urlUpdateRequestStatus.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useUrlShortener.ts
  frontend/src/hooks/useUserSettings.ts
  frontend/src/index.ts
  frontend/src/store/auth.ts
  scripts/generate-client-spring.sh
Labels: backend, frontend, documentation, infrastructure, dependencies, javascript

add implementation plan for link analytics dashboard
  docs/implementation-plan-link-analytics.md
  docs/implementation-plans/01-backend-existing-vs-missing.md
  docs/implementation-plans/02-backend-analytics-implementation.md
  docs/implementation-plans/03-frontend-layout-navigation.md
  docs/implementation-plans/04-frontend-dashboard-stats.md
  docs/implementation-plans/05-frontend-links-table.md
  docs/implementation-plans/06-testing-plan.md
Labels: backend, frontend, documentation, infrastructure

.github/labeler.yml:

# Backend changes
backend:
  - url-shortener/**/*
  - '!url-shortener/**/*.md'
  - '!url-shortener/**/*.txt'

# Frontend changes
frontend:
  - frontend/**/*
  - '!frontend/**/*.md'
  - '!frontend/**/*.txt'

# Documentation changes
documentation:
  - '**/*.md'
  - '**/*.txt'
  - docs/**/*

# Infrastructure changes
infrastructure:
  - docker-compose.yml
  - Dockerfile*
  - .github/**/*
  - '!**/*.md'
  - '!**/*.txt'

# Dependencies
dependencies:
  - '**/pom.xml'
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# Tests
tests:
  - '**/test/**'
  - '**/tests/**'
  - '**/*.test.*'
  - '**/*.spec.*'

# Security
security:
  - '**/security/**'
  - '**/auth/**'
  - '**/cors/**'
  - '**/ssl/**'

# Performance
performance:
  - '**/performance/**'
  - '**/benchmark/**'
  - '**/metrics/**'

# Breaking changes
breaking:
  - '**/BREAKING_CHANGES.md'
  - '**/CHANGELOG.md'

# Bug fixes
bug:
  - '**/bug/**'
  - '**/fix/**'

# Features
feature:
  - '**/feature/**'
  - '**/enhancement/**'

# Refactoring
refactor:
  - '**/refactor/**'
  - '**/cleanup/**'

# Upgrades
upgrade:
  - '**/upgrade/**'
  - '**/update/**'

# Language specific
java:
  - '**/*.java'
  - '**/*.kt'
  - '**/*.groovy'

javascript:
  - '**/*.js'
  - '**/*.jsx'
  - '**/*.ts'
  - '**/*.tsx'

# Internal
internal:
  - '**/internal/**'
  - '**/private/**'
  - '**/internal-api/**'
